//Button Code
button, .btn, input[type="submit"] {
    align-items: center;
    background: transparent;
    border: 2px solid $black;
    border-radius: 10px;
    color: $black;
    cursor: pointer;
    display: flex;
    font-family: $font-m;
    font-size: 18px;
    height: 44px;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 8px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
    width: fit-content;
    
    &:hover {
        background: $black;
        border-color: $black;
        color: #fff;
    }
}

.btn {
    &--link {
        background: transparent;
        border: none;
        color: #000;
        height: auto;
        padding: 5px 10px;
        text-decoration: underline;
        text-transform: none;
        
        &:hover {
            background: transparent;
            color: $primary;
        }
    }
    
    &--icon {
        text-decoration: none;
        
        i {
            margin-left: 10px;
        }
    }
}