h1 {
  font-family: $title-t;
  font-size: 100px;
  line-height: 1em;
  
  @include MQ($S) {
    font-size: 50px;
  }
}

h2 {
  font-family: $title-b;
  font-size: 64px;
  line-height: 1.2em;
  
  @include MQ($S) {
    font-size: 32px;
  }
}

h3 {
  font-family: $title-b;
  font-size: 38px;
  line-height: 1.2em;
  
  @include MQ($S) {
    font-size: 28px;
  }
}

h4 {
  font-family: $title-b;
  font-size: 24px;
  line-height: 1.2em;
  
  @include MQ($S) {
    font-size: 22px;
  }
}

h5 {
  font-family: $title-m;
  font-size: 22px;
  line-height: 1.2em;
  
  @include MQ($S) {
    font-size: 18px;
  }
}

h6 {
  font-family: $title-m;
  font-size: 20px;
  line-height: 1.2em;
}

p {
  font-family: $font-r;
  font-size: 18px;
  line-height: 1.2em;
}

span {
  font-family: $font-r;
  font-size: 14px;
  line-height: 1.2em;
}

small {
  font-family: $font-r;
  font-size: 12px;
  line-height: 1.2em;
}
