.programacao {
    &__banner {
        height: 350px;
        margin-top: 95px;
        position: relative;
        width: 100vw;
        
        @include MQ($M) {
            height: 300px;
            margin-top: 75px;
        }

        @include MQ($S) {
            height: 220px;
        }

        @include MQ($XS) {
            height: 200px;
        }
        
        &::after {
            background: #00000050;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        
        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
        
        h1 {
            color: $white;
            font-family: $title-b;
            font-size: 80px;
            left: 50%;
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        
            @include MQ($M) {
                font-size: 70px;
            }
        
            @include MQ($S) {
                font-size: 52px;
            }
        
            @include MQ($XS) {
                font-size: 38px;
            }
        }
    }
    
    &__map {
         margin: -130px auto -60px;
         padding-top: 100px;
         position: relative;
         
         @include MQ($XS) {
             margin: 50px auto -30px;
             padding-top: 0;
         }
     
        //  &::after {
        //      background: url(../images/pages/programacao/line.svg) no-repeat;
        //      background-size: contain;
        //      content: '';
        //      height: 955px;
        //      left: -100px;
        //      position: absolute;
        //      top: 50%;
        //      transform: translateY(-50%);
        //      width: 100vw;
        //      z-index: -1;

        //      @include MQ($L) {
        //          display: none;
        //      }
 
        //      @media screen and (min-width: 1200px) {
        //          display: none;
        //      }
        //  }

        &-content {
            height: 100vh;
            max-height: 370px;
            position: relative;
            text-align: center;
            
            @include MQ($XS) {
                height: 230px;
                left: 50%;
                max-height: none;
                transform: translateX(-50%);
                width: 340px;
            }
            
            &::after {
                background: url(../images/pages/programacao/maps/pontos.svg) no-repeat;
                background-position: center;
                content: '';
                height: 87%;
                left: 51%;
                pointer-events: none;
                position: absolute;
                top: 48.3%;
                transform: translate(-50%, -50%);
                width: 85%;
                z-index: 1;
        
                @include MQ($XS) {
                    height: 97%;
                    left: 52%;
                    top: 48%;
                    width: 95%;
                }
            }
            
            svg {
                object-fit: contain;
            }
            
            #mapa-bg {
                height: 370px;
                width: 500px;
                
                @include MQ($XS) {
                    height: 230px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 340px;
                }
            }
        }
        
        &-cores {
            align-items: center;
            height: 317px;
            left: 50%;
            margin: auto;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 450px;
            
            @include MQ($XS) {
                height: 100%;
                left: 0;
                top: 0;
                transform: none;
                width: 100%;
            }
            
            svg {
                cursor: pointer;
                opacity: 0;
                position: absolute;
                transition: opacity .2s ease-in-out;
                
                &:hover, &.active {
                    opacity: 1;
                }
            }
            
            #mapa-roxo {
                left: -27px;
                height: 210px;
                top: -10px;
        
                @include MQ($XS) {
                    left: 1px;
                    height: 140px;
                    top: 1px;
                }
            }
            
            #mapa-amarelo {
                left: 48.5%;
                height: 230px;
                top: 55.3%;
                transform: translate(-50%, -50%);
                z-index: 1;
        
                @include MQ($XS) {
                    left: 48.7%;
                    height: 155px;
                    top: 55%;
                }
            }

            #mapa-verde {
                bottom: -8px;
                height: 235px;
                right: -23px;
        
                @include MQ($XS) {
                    bottom: 0.5px;
                    height: 162px;
                    right: 0;
                }
            }
        }
    }
    
    &__list {
        overflow: hidden;
        margin: 50px auto 40px;

        @include MQ($M) {
            margin: 70px 40px 40px;
        }

        @include MQ($S) {
            margin: 70px 20px 40px;
        }

        &-content {
            flex-wrap: wrap;
            margin: 0 -1%;

            @include MQ($M) {
                margin: 0 -2%;
            }
        }
        
        &-item {
            opacity: 1;
            pointer-events: auto;
            margin: 2% 1%;

            @include MQ($M) {
                margin: 2%;
                width: 46%;
            }

            @include MQ($S) {
                margin: 3% 2%;
                width: 70%;
            }
        
            @include MQ($XS) {
                margin: 2% 0 6%;
                width: 310px;
            }
            
            &.disabled {
                height: 0;
                opacity: 0;
                margin: 0;
                pointer-events: none;
                width: 0;
                
                * {
                    height: 0;
                }
            }
            
            img:not(.i) {
                height: 450px;
                
                @include MQ($L) {
                    height: 390px;
                }

                @include MQ($M) {
                    height: 500px;
                }

                @include MQ(840px) {
                    height: 450px;
                }

                @include MQ(780px) {
                    height: 420px;
                }

                @include MQ($S) {
                    height: 460px;
                }
        
                @include MQ($XS) {
                    height: 390px;
                }
            }

            .i {
                margin: 2px 0 -2px;
            }
            
            &.roxo {
                img {
                    border-color: #AE24FF;
                }
                
                .programacao__list-title:before {
                    background: #AE24FF;
                }
            }
            
            &.verde {
                img {
                    border-color: #4fe796;
                }
                
                .programacao__list-title:before {
                    background: #4fe796;
                }
            }
            
            &.amarelo {
                img {
                    border-color: #FAB93F;
                }
                
                .programacao__list-title:before {
                    background: #FAB93F;
                }
            }
        }
        
        &-desc {
            align-items: flex-start;
            color: $black;
        }
        
        &-title {
            font-family: $title-m;
            font-size: 22px;
            font-weight: 900;
            margin: 20px 0 0 10px;
            padding: 0 10px 0 25px;
            position: relative;
            
            &::before {
                border-radius: 1px;
                content: '';
                height: 3px;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
            }
        }
        
        &-text {
            margin-top: 25px;
            padding: 0 10px;
            
            p {
                font-family: $font-l;
                font-size: 18px;
                margin: 5px 0 10px;

                b {
                    font-family: $font-b;
                    letter-spacing: -0.5px;

                    i {
                        font-size: 16px;
                        margin-right: 5px;
                    }
                }
            }
        }

        &-empty {
            height: 0;
            margin: 0 auto;
            max-width: 670px;
            opacity: 0;
            pointer-events: none;
            text-align: center;
            transition: opacity .5s ease-in-out;

            @include MQ($S) {
                max-width: 100%;
            }
            
            &.active {
                margin: 50px auto;
                opacity: 1;
                pointer-events: auto;
                height: auto;
            }

            h3, span {
                font-family: $title-t;
                font-weight: 900;
                font-size: 32px;

                @include MQ($S) {
                    font-size: 28px;
                }

                @include MQ($XS) {
                    font-size: 22px;
                }
                
                b {
                    font-family: $title-b;
                }
            }

            h4 {
                font-family: $title-m;
                font-weight: 100;
                font-size: 28px;
                position: relative;

                @include MQ($S) {
                    font-size: 26px;
                }

                @include MQ($XS) {
                    font-size: 20px;
                }
                        
                &::before {
                    border-top: 5px dotted #000;
                    content: '';
                    left: 50%;
                    position: absolute;
                    top: -20px;
                    transform: translateX(-50%);
                    width: 20px;
            
                    @include MQ($XS) {
                        border-width: 3px;
                        top: -15px;
                        width: 15px;
                    }
                }
            }
        }
    }

    &__filter {
        align-items: center;
        flex-direction: column;
        margin: 30px auto -40px;

        @include MQ($M) {
            margin: 30px 40px -40px;
        }

        @include MQ($S) {
            margin: 30px 20px -40px;
        }
        
        &-btn {
            align-items: center;
            cursor: pointer;
            margin: 0 2%;
            transition: all .5s ease-in-out;
            width: 96%;
            
            p {
                font-family: $font-r;
                margin: 0 15px 0 0;
                opacity: 0;
                transition: opacity .5s ease-in-out;
            }
            
            i {
                font-size: 34px;
                transition: all .5s ease-in-out;
            }

            &:hover {
                p {
                    opacity: 1;
                }

                i {
                    font-size: 42px;
                    margin: -4px 0;
                }
            }

            &.disabled {
                opacity: 0;
                pointer-events: none;
            }
        }
        
        &-select {
            margin: 30px 0 -40px;
            opacity: 0;
            pointer-events: none;
            width: 350px;
        
            @include MQ($XS) {
                width: 85%;
            }
            
            &.active {
                opacity: 1;
                pointer-events: auto;
            }
    
            select {
                font-size: 17px;
                height: 48px;
                padding: 12px 20px;
            }
        }
    }
}