.sobre {
    &__banner {
        margin: 40px 0 -70px;
        
        &-container {
            align-items: center;
            height: 100vh;
            position: relative;
            width: 100vw;
            
            @include MQ($M) {
                height: 570px;
                margin: 0;
                overflow: hidden;
                padding: 0 40px;
            }
            
            @include MQ($S) {
                height: 330px;
            }
        }
        
        &-img {
            max-width: 420px;
            position: relative;
            width: 30%;
            
            &::after {
                content: '';
                height: 530px;
                position: absolute;
                transform: translateY(-50%);
                width: 425px;
                z-index: -1;
                
                @include MQ($L) {
                    width: 325px;
                }
                
                @include MQ($M) {
                    width: 290px;
                }
            }
            
            img {
                height: 90vh;
                object-fit: cover;
                width: 470px;
                
                @include MQ($L) {
                    height: 80vh;
                    width: 370px;
                }
                
                @include MQ($M) {
                    height: 450px;
                    width: 250px;
                }
                
                @include MQ($S) {
                    height: 250px;
                }
                
                @include MQ($XS) {
                    height: 220px;
                }
            }
            
            &:first-child {
                margin-left: -70px;
                
                @include MQ($L) {
                    margin-left: 0;
                }
                
                @include MQ($S) {
                    margin-top: -10px;
                }
                
                @include MQ($XS) {
                    margin-left: -7px;
                }
                
                &::after {
                    background: url(../images/pages/sobre/banner/effect-left.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 530px;
                    left: -90px;
                    top: 50%;
                    
                    @include MQ($L) {
                        height: 430px;
                        left: -50px;
                    }
                    
                    @include MQ($S) {
                        height: 240px;
                    }
                    
                    @include MQ($XS) {
                        height: 200px;
                    }
                }
                
                img {
                    height: 95vh;
                    transform: scaleX(-1);
                    
                    @include MQ($L) {
                        height: 85vh;
                    }
                    
                    @include MQ($M) {
                        height: 480px;
                        margin-top: -10px;
                    }
                    
                    @include MQ($S) {
                        height: 280px;
                        margin-top: 0;
                    }
                    
                    @include MQ($XS) {
                        height: 220px;
                    }
                }
            }
            
            &:last-child {
                margin-right: -70px;
                
                @include MQ($L) {
                    margin-right: 0;
                }
                
                &::after {
                    background: url(../images/pages/sobre/banner/effect-right.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 550px;
                    right: -110px;
                    top: 53%;
                    
                    @include MQ($L) {
                        height: 450px;
                        right: -50px;
                    }
                    
                    @include MQ($S) {
                        height: 240px;
                        right: -150px;
                    }
                    
                    @include MQ($XS) {
                        height: 210px;
                        right: -170px;
                    }
                }
            }
        }
        
        h1 {
            font-size: 95px;
            line-height: 1.05em;
            margin: -20px 0 0;
            max-width: 400px;
            text-align: center;
            text-transform: uppercase;
            width: 45%;
            
            @include MQ($L) {
                font-size: 85px;
            }
            
            @include MQ($M) {
                font-size: 75px;
            }
            
            @include MQ($S) {
                font-size: 53px;
            }
            
            @include MQ($XS) {
                font-size: 40px;
            }
        }
    }
    
    &__content {
        align-items: center;
        margin: -190px auto;
        
        @include MQ($L) {
            margin: -190px 40px;
        }
        
        @include MQ($M) {
            flex-direction: column;
            margin: 70px 40px;
        }
        
        @include MQ($S) {
            margin: 70px 20px;
        }
        
        &-container {
            align-items: center;
            
            @include MQ($M) {
                flex-direction: column;
                margin: 0;
            }
        }
        
        &-desc {
            width: 60%;
            
            @include MQ($M) {
                width: 100%;
            }
            
            h3 {
                margin: 0 0 30px;
            }
            
            h5 {
                margin: 0 0 10px;
            }
            
            p {
                font-family: $font-r;
                font-size: 20px;
                line-height: 1.3em;
                
                @include MQ($L) {
                    font-size: 16px;
                }
            }
        }
        
        &-txt {
            margin-bottom: 40px;
        }
        
        &-video {
            margin: -10px 0;
            width: 50%;
            
            @include MQ($L) {
                margin: 30px 0;
            }
        }
        
        &-img {
            padding: 170px 0;
            
            @include MQ($M) {
                padding: 30px 0;
                width: 40%;
            }
            
            @include MQ($S) {
                padding: 0;
                width: 50%;
            }
            
            @include MQ($XS) {
                width: 70%;
            }
            
            &--2 img {
                border-color: #AE24FF;
            }
            
            &--1 img {
                border-color: #4fe796;
            }
            
            &--3 img {
                border-color: #FAB93F;
            }
        }
    }
    
    #sobre {
        margin: -150px auto -280px;
        position: relative;
        
        @include MQ($L) {
            margin: -150px 40px -280px;
        }
        
        @include MQ($M) {
            margin: 70px 40px;
        }
        
        @include MQ($S) {
            margin: 70px 20px;
        }
        
        &::after {
            background: url(../images/pages/sobre/line-1.svg) no-repeat;
            background-size: contain;
            background-position: right;
            content: '';
            height: 490px;
            right: 0;
            position: absolute;
            top: 52%;
            transform: translateY(-50%);
            width: 275px;
            z-index: -1;
            
            @include MQ($L) {
                display: none;
            }
            
            @media screen and (min-width: $XL) {
                display: none;
            }
        }
        
        .sobre__content {
            &-video {
                margin-left: -120px;
                
                @include MQ($L) {
                    margin: -30px 0 -10px -120px;
                    padding: 100px 0 190px;
                }
                
                @include MQ($M) {
                    margin: 0;
                    padding: 0;
                    width: 70%;
                }
                
                @include MQ($XS) {
                    width: 85%;
                }
                
                video {
                    height: 410px;
                    margin: -80px 0 50px;
                    object-fit: contain;
                    object-position: bottom center;
                    width: 90%;
                    
                    @include MQ($L) {
                        margin: 100px 0 -150px;
                        object-position: top right;
                        width: 100%;
                    }
                    
                    @include MQ($M) {
                        height: 330px;
                        margin: 0;
                        object-position: center right;
                        width: 100%;
                    }
                    
                    @include MQ($S) {
                        height: 200px;
                        margin: 0 0 -20px;
                    }
                    
                    @include MQ($XS) {
                        height: 180px;
                    }
                }
            }
            
            &-container {
                @include MQ($M) {
                    flex-direction: column-reverse;
                }
            }
        }
    }
    
    #filmes {
        position: relative;
        
        @include MQ($M) {
            flex-direction: column-reverse;
        }
        
        &::after {
            background: url(../images/pages/sobre/line-2.svg) no-repeat;
            background-size: contain;
            content: '';
            height: 135px;
            left: -100px;
            position: absolute;
            top: -25px;
            transform: rotate(4deg);
            width: 980px;
            z-index: -1;
            
            @include MQ($L) {
                display: none;
            }
            
            @media screen and (min-width: $XL) {
                display: none;
            }
        }
        
        .sobre__content-video {
            margin-left: -170px;
            
            @include MQ($L) {
                padding: 130px 0;
            }
            
            @include MQ($M) {
                margin: 0;
                padding: 0;
                width: 70%;
            }
            
            @include MQ($S) {
                margin: -15px 0 -20px;
            }
            
            @include MQ($XS) {
                width: 80%;
            }
            
            video {
                height: 320px;
                margin: -20px 0 20px;
                object-fit: cover;
                object-position: bottom right;
                width: 100%;
                
                @include MQ($L) {
                    margin: -30px 0 10px 60px;
                    height: 250px;
                }
                
                @include MQ($M) {
                    height: 300px;
                    margin: 0;
                    object-fit: contain;
                    object-position: center;
                }
                
                @include MQ($S) {
                    height: 200px;
                }
                
                @include MQ($XS) {
                    height: 180px;
                }
            }
        }
    }
    
    #oficinas {
        position: relative;
        
        &::after {
            background: url(../images/pages/sobre/line-3.svg) no-repeat;
            background-size: contain;
            content: '';
            height: 735px;
            left: -95px;
            position: absolute;
            top: 50px;
            width: 100vw;
            z-index: -1;
            
            @include MQ($L) {
                display: none;
            }
            
            @media screen and (min-width: $XL) {
                display: none;
            }
        }
    }
    
    #exposicoes {
        @include MQ($M) {
            flex-direction: column-reverse;
        }
    }
    
    footer {
        margin-top: 150px;
        
        @include MQ($M) {
            margin-top: 90px;
        }
    }
}