<menu class="menu show-desk">
    <nav class="menu__container flex--sb wrapper">
        <a href="/pages/" class="menu__logo"><img src="../assets/images/logos/logo.svg" alt="Pontos MIS" title="Pontos MIS"></a>
        
        <div class="menu__main">
            <div class="menu__content flex--end">
                <ul class="menu__list flex--sb">
                    <li class="menu__item">
                        <a href="/pages/" class="menu__link">Início</a>
                    </li>
                    <li class="menu__item">
                        <a href="./sobre.html" class="menu__link">Sobre</a>
                    </li>
                    <li class="menu__item">
                        <a href="./programacao.html" class="menu__link">Programação</a>
                    </li>
                    <li class="menu__item">
                        <a href="./educativo" class="menu__link">Educativo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</menu>

<menu id="menu-mobile" class="menu show-tablet">
    <nav class="menu__container">
        <div class="menu__header flex--sb wrapper">
            <a href="/pages/" class="menu__logo"><img src="../assets/images/logos/logo.svg" alt="Pontos MIS" title="Pontos MIS"></a>
            <div class="menu__burguer"></div>
        </div>
        
        <div class="menu__content">
            <ul class="menu__list flex--sb">
                <li class="menu__item">
                    <a href="/pages/" class="menu__link">Início</a>
                </li>
                <li class="menu__item">
                    <a href="./sobre.html" class="menu__link">Sobre</a>
                </li>
                <li class="menu__item">
                    <a href="./programacao.html" class="menu__link">Programação</a>
                </li>
                <li class="menu__item">
                    <a href="./educativo" class="menu__link">Educativo</a>
                </li>
            </ul>
        </div>
    </nav>
</menu>