//Footer code
footer {
    background: $black;
    margin-top: 70px;
    overflow: hidden;
    padding: 70px 0;
    position: relative;
        
    @include MQ($S) {
        padding: 60px 0 80px;
    }
    
    &::before, &::after {
        background: $white;
        border-radius: 100%;
        content: '';
        height: 60px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        
        @include MQ($S) {
            height: 80px;
            width: 80px;
        }
    }
    
    &::before {
        left: -30px;
        
        @include MQ($S) {
            left: 50%;
            transform: translateX(-50%);
            top: -45px;
        }
    }
    
    &::after {
        right: -30px;
        
        @include MQ($S) {
            bottom: -45px;
            top: auto;
            left: 50%;
            right: auto;
            transform: translateX(-50%);
        }
    }
}

.footer {
    &__container {
        align-items: center;
        margin: auto;
        max-width: 770px;
        
        @include MQ($M) {
            margin: 0 50px;
            max-width: 100%;
        }
        
        @include MQ($S) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }
    
    &__social {
        align-items: center;
        position: relative;
        width: 313px;
        
        @include MQ($S) {
            justify-content: center;
            padding: 100px 0;
            margin: auto;
        }

        @include MQ($XS) {
            width: 100%;
        }
        
        &::before {
            background: url(../images/global/footer/effect-left.svg) no-repeat;
            content: '';
            height: 220px;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            z-index: 0;
            
            @include MQ($XS) {
                background-position: center;
                background-size: contain;
                height: 190px;
                top: 52%;
            }
        }
        
        a {
            align-items: center;
            background: transparent;
            border-radius: 3px;
            margin: 0 15px;
            height: 32px;
            text-decoration: none;
            width: auto;
            z-index: 1;
            
            @include MQ($S) {
                margin: 0 15px;
            }
            
            &:hover {
                i, .st0 {
                    color: $primary;
                    fill: $primary;
                }
            }
            
            i {
                color: $white;
                font-size: 22px;
                transition: color .5s ease-in-out;
                
                &.fa-facebook-f, &.fa-twitter {
                    margin-bottom: -1px;
                }
            }
            
            .st0 {
                fill:#fff;
                transition: fill .5s ease-in-out;
            }
        }
    }
    
    &__list {
        position: relative;
        
        @include MQ($M) {
            margin-right: 70px;
        }
        
        @include MQ($S) {
            margin: 20px 0 50px;
            width: 100%;
        }
        
        &::after {
            background: url(../images/global/footer/effect-right.svg) no-repeat;
            content: '';
            height: 285px;
            right: -100px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            
            @include MQ($L) {
                right: -60px;
            }
            
            @include MQ($S) {
                // background-position: center;
                // left: 46.5%;
                // right: auto;
                // top: -170px;
                // transform: rotate(90deg) translateX(-50%);
                display: none;
            }
        }
        
        a {
            color: $white;
            font-family: $title-m;
            font-size: 22px;
            padding: 2px 0;
            text-decoration: none;
            transition: color .5s ease-in-out;
            
            @include MQ($S) {
                justify-content: center;
                margin: 5px 0;
            }
            
            &:hover {
                color: $primary;
            }
        }
    }
    
    &__gov {
        background: #fff;
        
        &-list {
            align-items: center;
            margin: 0 -30px;
            padding: 80px 0;
            
            @include MQ($S) {
                flex-direction: column;
                margin: 0;
                padding: 30px 0;
            }
        }
        
        &-item {
            background: #243e63;
            border: 0;
            border-radius: 20px;
            color: #fff;
            font-family: 'Open Sans', sans-serif, arial;
            font-size: 16px;
            font-weight: 500;
            height: 35px;
            padding: 10px 35px;
            justify-content: center;
            max-width: 202px;
            text-align: center;
            text-decoration: none;
            transition: background .3s ease-in-out;
            width: 28%;
            
            @include MQ($S) {
                height: 40px;
                margin: 15px auto;
                padding: 13px 40px;
                width: 50%;
            }
            
            &:hover {
                background: #000;
            }
        }
        
        &-banner {
            background: #000;
            padding: 40px 0;
        }
    }
}