/* ___ Fonts ___ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@font-face {
    font-family: 'DMSans Bold';
    src: url(../fonts/DMSans-Bold.ttf);
}
@font-face {
    font-family: 'DMSans Medium';
    src: url(../fonts/DMSans-Medium.ttf);
}
@font-face {
    font-family: 'DMSans Regular';
    src: url(../fonts/DMSans-Regular.ttf);
}
@font-face {
    font-family: 'DMSans Light';
    src: url(../fonts/DMSans-Light.ttf);
}
@font-face {
    font-family: 'DMSans Thin';
    src: url(../fonts/DMSans-Thin.ttf);
}

@font-face {
    font-family: 'TypoRound Bold';
    src: url(../fonts/TypoRoundBoldDemo-KAZ7.ttf);
}
@font-face {
    font-family: 'TypoRound Regular';
    src: url(../fonts/TypoRoundRegularDemo-mJ8P.ttf);
}
@font-face {
    font-family: 'TypoRound Thin';
    src: url(../fonts/TypoRoundThinDemo-dJyK.ttf);
}

$font-b: 'DMSans Bold', 'Roboto', 'Calibri', 'sans-serif';
$font-m: 'DMSans Medium', 'Roboto', 'Calibri', 'sans-serif';
$font-r: 'DMSans Regular', 'Roboto', 'Calibri', 'sans-serif';
$font-l: 'DMSans Light', 'Roboto', 'Calibri', 'sans-serif';
$font-t: 'DMSans Thin', 'Roboto', 'Calibri', 'sans-serif';
$title-b: 'TypoRound Bold', 'Roboto', 'Calibri', 'sans-serif';
$title-m: 'TypoRound Regular', 'Roboto', 'Calibri', 'sans-serif';
$title-t: 'TypoRound Thin', 'Roboto', 'Calibri', 'sans-serif';
$roboto: 'Roboto', 'Calibri', 'sans-serif';
 
$thin: 100;
$light: 300;
$regular: 400;
$medium: 580;
$bold: 750;


/* ___ Colors ___ */
$primary: #D08CF8;
$secondary: #A6F7CB;
$tertiary: #F5D49A;

$black: #181818;
$gray: #EBEBEB;
$white: #F4F4F4;

$status-success: #21B35B;
$status-warning: #FFB21D;
$status-failed: #D92124;
$status-info: #297FFF;


/* ___ Media Query ___ */
@mixin MQ($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

$XS: 500px;
$S: 758px;
$M: 960px;
$L: 1170px;
$XL: 1380px;